.main{
    padding: 1rem;
}

.main .body{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.main .body .container{
    background-color: #F9FCFF;
    padding: 1rem;
    padding-left: 0;
}

.main .body .container ul li::marker{
    color: #90C4CC ;
}

.main .body .container ul li p{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    padding: 0.5rem 0;
}